<h1><%= @artist.name %></h1>

<!-- <ul>
<% @songs.each do |song| %>
  <%if song.artist[:id] == @artist[:id]%>
  <li><%=song.name%></li>

  <%end%>
<%end%>
</ul> -->

<p><%=link_to "[Add a song]", new_song_path %></P>
<!-- link_to "[Delete_all]", -->



<table >
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <!-- This is a stupid soluton, as I am itterating over all the songs! -->
  <!-- need to do this differently by changing what @song is!! -->
  <%counter = 0%>
  <% @songs.each do |song| %>
      <tr>
        <td><%=counter += 1%></td>
        <td><%=song.name%></td>
        <td>remove</td>
      </tr>

  <%end%>
</table>
