<h1><%= @artist.name %></h1>

<!-- <ul>
<% @songs.each do |song| %>
  <%if song.artist[:id] == @artist[:id]%>
  <li><%=song.name%></li>

  <%end%>
<%end%>
</ul> -->

<%= render "/songs/form"%>
<!-- link_to "[Delete_all]", -->



<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%counter = 0%>
  <% @songs.each do |song| %>
      <tr>
        <td><%=counter += 1%></td>
        <td><%=song.name%></td>
        <td><%=link_to "delete", song_path(id: song.id), method: :delete, remote: true, data: { confirm: "Are you sure you want to delete this song?" }%></td>
      </tr>
    <%end%>
</table>

<%= link_to "[Delete all songs]", artist_path(id: @artist.id), method: :delete, remote: true, data: { confirm: "Are you sure you want to delete all these songs?" } %>
