<h1><%= @artist.name %></h1>

<!-- <ul>
<% @songs.each do |song| %>
  <%if song.artist[:id] == @artist[:id]%>
  <li><%=song.name%></li>

  <%end%>
<%end%>
</ul> -->

<%= render "/songs/form"%>
<!-- link_to "[Delete_all]", -->



<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%counter = 0%>
  <% @songs.each do |song| %>
      <tr>
        <td><%=counter += 1%></td>
        <td><%=song.name%></td>
        <td>remove</td>
      </tr>
    <%end%>
</table>
