<h1><%= @artist.name %></h1>

<!-- <ul>
<% @songs.each do |song| %>
  <%if song.artist[:id] == @artist[:id]%>
  <li><%=song.name%></li>

  <%end%>
<%end%>
</ul> -->

<%= render "/songs/form"%>
<!-- link_to "[Delete_all]", -->

<ol id="songlist" >
  <%= render @songs %>
</ol>


<%= link_to "[Delete all songs]", artist_path(id: @artist.id), method: :delete, remote: true, data: { confirm: "Are you sure you want to delete all these songs?" } %>
<%= link_to "[Back to all artists]", artists_path() %>
