<div class="form">



  <%= form_for @song, remote: true do |i| %>
    <%= i.label "Songname" %>
    <%= i.text_field :name, placeholder: "Enter your song!" %>

     <%= i.hidden_field :artist_id, value: @artist.id %>

    <!-- If song is new, show Create button, else show Update button! -->
    <%= i.submit (@song.new_record? ? "Create" : "Update") %>
  <%end%>

</div>
