<!DOCTYPE html>
<html>
  <head>
    <title>Songdb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

    <p id="notice"><%= notice %></p>

    <%= yield %>
    </div>


  <script>

  $("delete-song").bind('click', function(event){
    event.preventDefault();

  })


  function deleteSong(songId) {
    songId = ????;

    $.ajax({
      type: "DELETE",
      url: "/songs/" + songId,})

      .done(function(data) {
        $("#"+songId).remove();
      });
  }

    </script>


  </body>
</html>
